*{
    margin:0px;
}

body{
    margin:0px;
    box-sizing: border-box;
    min-height: 100vh;
}

.hero-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./image1.png);
   
   
}

.web-title{
    color: white;
    background: rgba(0,0,0,0.2); 
    font-size: 40px;
    text-align: center;
    padding:20px 15px;
    border-radius: 15px;
}

.content-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:5px 25px;
    min-height: 240px;
    background-color: rgb(62, 59, 59);
    color: rgb(153, 146, 146);
    
    
}

.section-text{
    line-height: 1.6em;
}

.parallax-explore{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url(./image2.png);
    
}

.bg-image{
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-title{
    color:white;
    text-align: center;
    font-size: 35px;
    background: rgba(0,0,0,0.2); 
    backdrop-filter: blur(1px);
    padding: 10px 10px;
    border-radius: 10px;
}

.parallax-nature{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url(./image3.png);

}